.playMarker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #3b82f6; /* Blue for Play Mode */
  background-size: cover;
  background-position: center;
  background-color: #111;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.6);
}

.playMarker:hover {
  transform: scale(1.2);
  border-color: white;
}